{foreach $links as $code => $item}
    {if $code!=$localeCode}
        <a href="{$item['url']}" n:class="$code">{$item['name']}</a>
    {else}
        <span n:class="$code, active">{$item['name']}</span>
    {/if}
{/foreach}
