<ul class="nav navbar-nav navbar-right navbar-lang">
    {foreach $locales as $code => $name}
        {if $code == $localeCode}
            <li class="active">
                <a href="#" class="not-allowed">{$name}</a>
            </li>
        {else}
            <li>
                <a href="{ifset $flipDomainAlias}//{$flipDomainAlias[$code]}{plink this, (expand) $presenter->request->getParameters()}{else}{plink //this, (expand) $presenter->request->getParameters(), locale=>$code}{/ifset}">{$name}</a>
            </li>
        {/if}
    {/foreach}
</ul>
